/* estilos-datos-personales.css */


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.sectionUsuario {
    border-style: solid;
    border-width: 10px;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5394b1;
    height: auto;
    flex-wrap: wrap;
    align-content: space-around;
}

.formatoBotones {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    align-content: center;
}

.divContenedor {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: stretch;
}

.sectionDatosPersonales {
    border-style: solid;
    border-width: 10px;
    width: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #5394b1;
    height: auto;
    flex-wrap: wrap;
    align-content: space-around;
}

.divDatosTitulos {
    display: flex;
    width: 100%;
    background-color: #625e76;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    height: fit-content;
}

label {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.divDatos {
    display: flex;
    width: 100%;
    background-color: #ac9ba2;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

input {
    height: 40px;
    width: 250px;
    border-width: 2px;
}