﻿ @import url("temas-colores-fuentes.css");

 * {
    margin: 0%;
    /* padding: 0%; */
 }

 body {
    background-image: var(--bg-imagen);
    background-color: var(--bg-color);
    color: var(--txt-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* fija la imagen mientras el contenido se desplaza*/
 }

 /* --- MODO OSCURO --- */

 #toggle {
    display: none;
 }

 #label_toggle {
    position: relative;
    display: flex;
    align-items: center;
    /* Para centrar el ícono dentro de su propia cajita */
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 15px;
    color: blueviolet;
    transition: color 0.3s ease;
 }

 .btn-flotante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 80px;
    right: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 9999;

 }

 .btn-flotante img {
    width: 75%;
    height: auto;
 }

 .btn-flotante:hover {
    background-color: #625e76;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
 }

 .articulo-categoria {
    border: solid 1px var(--borde-color);
    background-color: var(--card-bg);
    color: var(--txt-color);
    text-align: justify;
    padding: 20px;

 }

 #qr-code {
    width: 100px;
    height: 100px;
 }

 #seccion-categoria {
    gap: 2em;
    padding: 20px;
    align-items: stretch;
 }

 .item-valor-portada {
    width: 100%;
    height: 700px;
    object-fit: fill;
    padding-top: 5%;
 }

 .abrir-menu {
    background-color: rgba(0, 0, 0, 0.01);
    color: white;
    border: 0;
    width: 10px;
    justify-content: right;
    text-decoration: none;
 }

 .cerrar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 0;
 }


 body.light-theme .cerrar-menu {
    color: --color-txt;
    background-color: rgba(189, 140, 62, 0.8);
 }

 /* TITULO DE LOS PERSONAJES*/
 .item-valor-nombre {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 8px;
    font-family: "Roboto Mono";

 }

 /* AUTORES */
 .item-valor-autor {
    color: var(--txt-color);
    text-align: center;
    font-size: 1.02rem;
    padding-bottom: 8px;
 }

 .item-valor-descripcion {
    color: var(--txt-color);
    padding-bottom: 8px;
    font-size: 1.1rem;
    padding-top: 20px;
 }


 /* RATING */
 .item-valor-rating {
    display: block;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
 }

 /* HABILIDAD , CARACTER , ORIGEN , ROPA , RAZA */
 .detalle-articulo h4 {
    padding: 5px;
    font-size: 1.2rem;

 }

 .btn-flotante {
    font-size: 14px;
    max-width: 5em;
    right: 20px;
 }

 #seccion-categoria {
    min-height: 100%;
 }

 .fullscreen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-image: var(--bg-imagen);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 }


 .fullscreen .item-valor-portada {
    /* background-position: center; */
    width: auto;
    height: auto;
    padding: 0;
    max-width: 90%;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
 }

 .fullscreen .item-valor-nombre,
 .fullscreen .item-valor-autor,
 .fullscreen .item-valor-descripcion,
 .fullscreen .item-valor-rating,
 .fullscreen .detalle-articulo {
    display: none;
 }

 .item-valor-portada-fullscreen {
    width: 50%;
    height: 700px;
    object-fit: fill;
    padding-top: 5%;
 }

 @media screen and (max-width: 48rem) {
    aa * {
       margin: 0%;
       padding: 0%;
    }

    .estiloHeaderppal {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       width: auto;
       box-sizing: border-box;
       padding: 10px;

    }

    .logo-categoria {
       flex-direction: row;
    }

    .iconos {
       gap: 10px;
       align-items: center;
    }

    #q {
       width: 130px;
       height: 25px;
       font-size: 0.8rem;
       padding-left: 10px;
       border-radius: 20px;
    }

    .iconos img {
       width: 24px;
       height: auto;
    }

    .buscador-iconos {
       gap: 10px;
       padding: 5px;
    }

    .buscador-iconos {
       gap: 5px;
       padding: 0;
       flex-direction: row;
       align-items: center;
       justify-content: flex-end;
       width: auto;

    }


    #seccion-categoria {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }

    /* menu desplegable */
    .abrir-menu .bi-list {

       font-size: 17px;
       display: block;
       z-index: 9999;
    }

    .abrir-menu {
       width: auto;
       padding: 5px;

    }

    .abrir-menu,
    .cerrar-menu {
       display: block;

    }

    nav {
       opacity: 0;
       visibility: hidden;
       display: flex;
       flex-direction: column;
       gap: 1rem;
       position: fixed;
       height: 100vh;
       z-index: 10000;
       top: 0;
       right: 0;
       bottom: 0;
       align-items: end;
       background-color: var(--bg-color);
       border-left: 1px solid var(--destacado);
       padding: 2rem;
       box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.500);
       overflow-y: auto;

    }

    nav a {
       color: var(--txt-color);
    }

    nav.visible {
       opacity: 1;
       visibility: visible;
    }

    .nav-categoria {
       flex-direction: column;
       align-items: end;
       z-index: 9999;
    }

    footer {
       flex-direction: column;
       align-items: center;
       text-align: center;
       padding: 20px 0;
    }

    #footerCenter {
       text-align: center;
       margin-top: 20px;
    }

    #footerRight {
       width: auto;
       justify-content: center;
       margin-top: 30px;
    }

    #footerRight div {
       display: flex;
       justify-content: center;
       gap: 15px;
    }

    footer p em {
       display: block;
       text-align: center;
       margin-top: 15px;
    }

    

 }

 @media screen and (min-width: 48rem) and (max-width: 64rem) {
    * {
       margin: 0%;
       padding: 0%;
    }

    #seccion-categoria {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }

    footer {
       flex-direction: column;
       align-items: center;
       text-align: center;
       padding: 30px 0;
    }

    #logoFooterLeft,
    #footerCenter,
    #footerRight {
       width: 100%;
       margin-bottom: 25px;
       text-align: center;
    }

    /* menu desplegable */
    .abrir-menu .bi-list {

       font-size: 17px;
       display: block;
       z-index: 9999;
    }

    .abrir-menu {
       width: auto;
       padding: 5px;

    }

    .abrir-menu,
    .cerrar-menu {
       display: block;

    }

    nav {
       opacity: 0;
       visibility: hidden;
       display: flex;
       flex-direction: column;
       gap: 1rem;
       position: fixed;
       height: 100vh;
       z-index: 10000;
       top: 0;
       right: 0;
       bottom: 0;
       align-items: end;
       background-color: var(--bg-color);
       border-left: 1px solid var(--destacado);
       padding: 2rem;
       box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.500);
       overflow-y: auto;

    }

    nav a {
       color: var(--txt-color);
    }

    nav.visible {
       opacity: 1;
       visibility: visible;
    }

    .nav-categoria {
       flex-direction: column;
       align-items: end;
       z-index: 9999;
    }

    #footerCenter {
       align-items: center;
    }

    #footerRight {
       display: flex;
       align-items: center;
       justify-content: center;
    }

    /* El texto de copyright */
    footer p em {
       margin-top: 15px;
    }


 }

 @media screen and (min-width: 64rem) {
    * {
       margin: 0%;
       padding: 0%;
    }

    .estiloHeaderppal {
       min-width: 50%;
    }

    .iconos,
    .buscador-iconos {
       align-items: center;
    }

    #seccion-categoria {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
    }

    .abrir-menu,
    .cerrar-menu {
       display: none;

    }

    /* Estilo base para todas las vistas */

    #carouselExampleCaptions {

       max-width: 1200px;

       margin: auto;

       border-radius: 10px;

       overflow: hidden;

       box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

    }

    .carousel-item img {

       width: 100%;

       height: 500px;

       object-fit: cover;

       object-position: center;

       display: block;

    }

    .carousel-caption {

       /* position: absolute; */
       background-color: #000000;
       border-radius: 20px;
       opacity: 0.7;
       right: 15%;
       bottom: 1.25rem;
       left: 15%;
       padding-top: 1.25rem;
       padding-bottom: 1.25rem;
       color: #fff;
       text-align: center;
    }

    .carousel-caption h5 {

       font-size: 2rem;

       font-weight: bold;

       color: #ffffff;

       margin-bottom: 10px;

    }


    .carousel-caption p {

       font-size: 1rem;

       color: #ffffff;

       line-height: 1.5;

       margin: 0 auto;

    }


    /* vista más de 1024px */

    @media screen and (min-width: 1025px) {

       .carousel-item img {

          height: 500px;

       }

       /* vista más de 1024px */

       .carousel-caption h5 {

          font-size: 2rem;

       }

       .carousel-caption p {

          font-size: 1rem;

       }

    }

 }