﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#headerPrincipal {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.buscadorHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: stretch;
    height: 2em;
    width: 20em;
}

.iconosHeader {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-end;
    align-items: baseline;
    height: 2em;
    width: 10em;
}

.iconosHeaderDerecha {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
    width: 5em;
}