﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#headerPrincipal {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.buscadorHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}