/* @import url("temas-colores-fuentes.css"); */

* {
   margin: 0%;
   padding: 0%;
}


body {
   background-image: url(/Nueva\ carpeta/a/TP-WEB-NUEVO/assets/img/fondofinal.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   /* fija la imagen mientras el contenido se desplaza*/
}

.btn-flotante {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   border-radius: 5px;
   /* Color de fondo */
   /*padding: 18px 30px;*/
   /* Relleno del boton */
   position: fixed;
   bottom: 80px;
   right: 40px;
   /* transition: all 300ms ease 0ms;*/
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   /*z-index: 99;*/
}

.btn-flotante img {
   width: 75%;
   height: auto;
}

.btn-flotante:hover {
   background-color: #625e76;
   /* Color de fondo al pasar el cursor */
   box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
   transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
   .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 50px;
      right: 20px;
   }
}

.articulo-categoria {
   border: solid 1px black;
   background-color: #333333;
}

.articulo-categoria {
   text-align: justify;
   padding: 20px;
}

#qr-code {
   width: 100px;
   height: 100px;
}

#seccion-categoria {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2em;
   padding: 20px;
   align-items: stretch;
}

.item-valor-portada {
   width: 100%;
   height: 700px;
   object-fit: fill;
   padding-top: 5%;
}

.item-valor-nombre {
   margin-top: 15px;
   font-size: 16px;
   color: #020405;
   text-align: left;
}

.item-valor-autor {
   font-size: 16px;
   color: #020405;
   text-align: left;
}
<<<<<<< HEAD
=======

@media screen and (max-width: 48rem) {
   * {
      margin: 0%;
      padding: 0%;
   }

   #header {
      display: flex;
      align-items: stretch;
      flex-direction: row;
      /* padding: 5%; */

   }

   /* .boton-abrir,
   .boton-cerrar {
      display: block;
   }

   #navegacion-categoria {
      opacity: 0;
      visibility: hidden;
   } */

   /* nav {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #625e76;
      align-items: end;
      padding: 2rem;
      bottom: 0;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
   } 
   */

   /* .nav-visibility {
      opacity: 1;
      visibility: visible;
   } */

   /* #navegacion-categoria {
      display: flex;
      flex-direction: column;
      align-items: end;
   } */

   #seccion-categoria {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

   footer {
      flex-direction: column;
      /* Apila todos los elementos (logo, lista, redes) */
      align-items: center;
      /* Centra los elementos apilados */
      text-align: center;
      padding: 20px 0;
   }
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
   * {
      margin: 0%;
      padding: 0%;
   }

   #header {
      display: flex;
      align-items: center;
   }

   #seccion-categoria {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   /* nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #625e76;
      /*background-color: #D4AF37;*/
      /* align-items: end;
      gap: 1em;
      padding: 2rem;
      bottom: 0;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
   }

   #navegacion-categoria {
      display: flex;
      flex-direction: column;
      align-items: end;
   } */ 


   footer {
      flex-direction: column;
      /* Apila todos los elementos (logo, lista, redes) */
      align-items: center;
      /* Centra los elementos apilados */
      text-align: center;
      padding: 20px 0;
   }
}

@media screen and (min-width: 64rem) {
   #seccion-categoria {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: stretch;
   }

   /* .boton-cerrar {
      display: none;
   } */

}
>>>>>>> 3989516902a417f147ed11280b59307b2f097b90
