 @media screen and (max-width: 48rem) {
    * {
       margin: 0%;
       padding: 0%;
    }

    #header {
       display: flex;
       align-items: stretch;
       flex-direction: row;
       /* padding: 5%; */

    }

    #seccion-categoria {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }

    footer {
       flex-direction: column;
       /* Apila todos los elementos (logo, lista, redes) */
       align-items: center;
       /* Centra los elementos apilados */
       text-align: center;
       padding: 20px;
    }
 }

 @media screen and (min-width: 48rem) and (max-width: 64rem) {
    * {
       margin: 0%;
       padding: 0%;

    }

    #header {
       display: flex;
       align-items: center;
    }

    #seccion-categoria {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    }

    footer {
       flex-direction: column;
       /* Apila todos los elementos (logo, lista, redes) */
       align-items: center;
       /* Centra los elementos apilados */
       text-align: center;
       padding: 20px 0;
    }

    footer {
       flex-direction: column;
       align-items: center;
       text-align: center;
       padding: 30px 0;
       /* Agregamos un poco más de padding vertical para tabletas */
    }

    /* Aseguramos que los contenedores hijos también centren su contenido y ocupen todo el ancho */
    #logoFooterLeft,
    #footerCenter,
    #footerRight {
       width: 100%;
       /* Ocupa todo el ancho disponible para centrar mejor */
       margin-bottom: 25px;
       /* Separación visual entre las secciones */
       text-align: center;
    }

    /* El menú central (que está en columna) */
    #footerCenter {
       /* Para evitar que los enlaces se alineen a la izquierda del contenedor */
       align-items: center;
    }

    /* Los íconos sociales dentro de #footerRight */
    #footerRight {
       /* Usamos flexbox para centrar la fila de íconos sociales */
       display: flex;
       align-items: center;
       justify-content: center;
    }

    /* El texto de copyright */
    footer p em {
       margin-top: 15px;
       /* Espacio entre los íconos y el copyright */
    }

    /*TAMAÑO TABLET*/
 }

 @media screen and (min-width: 64rem) {
    * {
       margin: 0%;
       padding: 0%;
    }

    #seccion-categoria {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       align-items: stretch;

    }

    #footerCenter {
       text-align: center;
       margin-top: 20px;
    }

    #footerRight {
       width: auto;
       margin-top: 30px;
    }

    #footerRight div {
       display: flex;
       flex-direction: row;
       align-content: left;
       justify-content: center;
       gap: 15px;
    }

    footer p em {
       display: block;
       text-align: center;
       margin-top: 15px;
       width: 100%;
       box-sizing: border-box;
    }

    /*MEDIDA CELULAR*/

 }