.estiloHeaderppal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
}

.logo-categoria {
    display: flex;
    align-items: center;
    gap: 30px;
}

#logo img {
    max-height: 80px;
}

#navegacion-categoria {

    display: flex;
    gap: 20px;
}

.tab-categoria {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

 .tab-categoria:hover {
    border-bottom: 2px solid #5394b1;
}

#q {
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
    border-radius: 50px;
    padding-left: 10px;
    justify-content: center;
}

.buscador-iconos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 5px;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.iconos img{
    width: 30px;
    height: auto;
}

footer {
    background-color: var(--dark-color-fondo);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px ;
}

#footerCenter {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#footerRight {
display: flex;
flex-direction: row;
width: 100px;
align-content: center;
padding-right: 50;
}