@media screen and (max-width: 48rem) {

    body {
        height: auto;
        display: block;
        padding: 20px 0;
    }

    .formulario,
    .box {
        width: 94%;
        max-width: none;
        margin: 10px auto;
        padding: 15px;
    }

    .fila-inline {
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (min-width: 64rem) {
    .formulario {
        margin: 50px auto;
    }

    .fila-inline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }

    .box {
        max-width: 900px;
        margin: 40px auto;
    }
}