﻿﻿/* @import url("temas-colores-fuentes.css"); */

* {
   margin: 0%;
   padding: 0%;
}

body {
   background-image: url(/TP-WEB1/TP-WEB-NUEVO/assets/img/fondofinal.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   /* fija la imagen mientras el contenido se desplaza*/
}

.btn-flotante {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   border-radius: 5px;
   /* Color de fondo */
   /*padding: 18px 30px;*/
   /* Relleno del boton */
   position: fixed;
   bottom: 80px;
   right: 40px;
   /* transition: all 300ms ease 0ms;*/
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   z-index: 9999;
   
}

.btn-flotante img {
   width: 75%;
   height: auto;
}

.btn-flotante:hover {
   background-color: #625e76;
   /* Color de fondo al pasar el cursor */
   box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
   transform: translateY(-7px);
}

.articulo-categoria {
   border: solid 1px black;
   background-color: #333333;
   text-align: justify;
   padding: 20px;
   color: white;
}

#qr-code {
   width: 100px;
   height: 100px;
}

#seccion-categoria {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2em;
   padding: 20px;
   align-items: stretch;
}

.item-valor-portada {
   width: 100%;
   height: 700px;
   object-fit: fill;
   padding-top: 5%;
}

.abrir-menu {
   background-color: rgba(0, 0, 0, 0.01);
   color: white;
   border: 0;
   width: 10px;
   justify-content: right;
   text-decoration: none;

   /* padding: 0%;
   margin: 0%; */
}

.cerrar-menu {
   background-color: rgba(0, 0, 0, 0.4);
   color: white;
   border: 0;

}

/* TITULO DE LOS PERSONAJES*/
.item-valor-nombre {
   color: white;
   text-align: center;
   font-size: 1.3rem;
   padding-bottom: 8px;
   font-family: "Roboto Mono";

}

/* AUTORES */
.item-valor-autor {
   color: rgb(214, 206, 206);
   text-align: center;
   font-size: 1.02rem;
   padding-bottom: 8px;
}

.item-valor-descripcion {
   color: rgb(214, 206, 206);
   padding-bottom: 8px;
   font-size: 1.1rem;
}

/* RATING */
.item-valor-rating {
   padding-bottom: 5px;
}

/* HABILIDAD , CARACTER , ORIGEN , ROPA , RAZA */
.detalle-articulo h4 {
   padding: 5px;
   font-size: 1.2rem;
}

.btn-flotante {
   font-size: 14px;
   /* padding: 12px 20px; */
   /* bottom: 50px; */
   max-width: 5em;
   right: 20px;
}

@media screen and (max-width: 48rem) {
   * {
      margin: 0%;
      padding: 0%;
   }

   .estiloHeaderppal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* <-- NUEVO (empuja logo a la izq. y buscador a la der.) */
      align-items: center;
      padding: 10px;
      width: auto;
   }

   .logo-categoria {
      flex-direction: row;
      /* align-items: flex-start; */
      /* width: 100%; */
   }

   .iconos {
      gap: 10px;
      align-items: center;
   }

   #q {
      width: 180px;
      /* más chico que los 250px originales */
      height: 25px;
      font-size: 0.8rem;
      padding-left: 10px;
      border-radius: 20px;
   }

   .iconos img {
      width: 24px;
      /* más chico que los 30px originales */
      height: auto;
   }

   .buscador-iconos {
      gap: 10px;
      padding: 5px;
   }

   .buscador-iconos {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
   }


   #seccion-categoria {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

   /* menu desplegable */
   .abrir-menu .bi-list {
  
      font-size: 17px;
      /* Un tamaño típico para iconos grandes en móvil, igual que la imagen de 30px */
      line-height: 1;
      /* Para ayudar a la alineación vertical */
      display: block;
      /* Para asegurarse de que se comporte bien con el tamaño */
   }

   .abrir-menu {
      width: auto;
      padding: 5px;
   }

   .abrir-menu,
   .cerrar-menu {
      display: block;
   }

   nav {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      align-items: end;
      
      /* width: 300px; */
      background-color: var(--dark-color-fondo);
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.500);

   }

   nav.visible {
      opacity: 1;
      visibility: visible;
   }

   .nav-categoria {
      flex-direction: column;
      align-items: end;
   }

   footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 20px 0;
   }

   #footerCenter {
      text-align: center;
      margin-top: 20px;
   }

   #footerRight {
      width: auto;
      justify-content: center;
      margin-top: 30px;
   }

   #footerRight div {
      display: flex;
      justify-content: center;
      gap: 15px;
   }

   footer p em {
      display: block;
      text-align: center;
      margin-top: 15px;
      /*align-items: center;*/
   }

}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
   * {
      margin: 0%;
      padding: 0%;
   }

   /*#header {
      display: flex;
      align-items: center;
   }*/

   #seccion-categoria {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /*align-items: center;*/
   }

   /* El footer principal ya está bien: apilado y centrado */
   footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px 0;
      /* Agregamos un poco más de padding vertical para tabletas */
   }

   /* Aseguramos que los contenedores hijos también centren su contenido y ocupen todo el ancho */
   #logoFooterLeft,
   #footerCenter,
   #footerRight {
      width: 100%;
      /* Ocupa todo el ancho disponible para centrar mejor */
      margin-bottom: 25px;
      /* Separación visual entre las secciones */
      text-align: center;
   }

   /* El menú central (que está en columna) */
   #footerCenter {
      /* Para evitar que los enlaces se alineen a la izquierda del contenedor */
      align-items: center;
   }

   /* Los íconos sociales dentro de #footerRight */
   #footerRight {
      /* Usamos flexbox para centrar la fila de íconos sociales */
      display: flex;
      align-items: center;
      justify-content: center;
   }

   /* El texto de copyright */
   footer p em {
      margin-top: 15px;
      /* Espacio entre los íconos y el copyright */
   }

   .abrir-menu,
   .cerrar-menu {
      display: none;

   }
}

@media screen and (min-width: 64rem) {
   * {
      margin: 0%;
      padding: 0%;
   }

   .estiloHeaderppal {
      min-width: 50%;
   }

   .iconos,
   .buscador-iconos {
      align-items: center;
   }

   #seccion-categoria {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /*align-items: center;*/
   }

   .abrir-menu,
   .cerrar-menu {
      display: none;

   }
/* /////////////////////////// */
   /* Estilo base para todas las vistas */

#carouselExampleCaptions {

  max-width: 1200px;

  margin: auto;

  border-radius: 10px;

  overflow: hidden;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}
 
.carousel-item img {

  width: 100%;

  height: 500px;

  object-fit: cover;

  object-position: center;

}
 
.carousel-caption {
 
    position: absolute;
    background-color: #625e76;
   border-radius: 20px;
   opacity: 0.7;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
 
.carousel-caption h5 {

  font-size: 2rem;

  font-weight: bold;

  color: #fff;

  margin-bottom: 10px;

}
 
.carousel-caption p {

  font-size: 1rem;

  color: #ddd;

  line-height: 1.5;

  margin: 0 auto;

}
 
/*  vista  hasta 600px */

@media screen and (max-width: 600px) {

  
 
/* vista más de 1024px */

@media screen and (min-width: 1025px) {

  .carousel-item img {

    height: 500px;

  }
 
  .carousel-caption h5 {

    font-size: 2rem;

  }
 
  .carousel-caption p {

    font-size: 1rem;

  }

}

 /* /////////////////////////// */

}

#seccion-categoria {
   min-height: 100%;
}

.fullscreen {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-image: url(/assets/img/fondofinal.jpg);
   z-index: 9999;
   overflow: auto;
}

.item-valor-portada-fullscreen {
   width: 50%;
   height: 700px;
   object-fit: fill;
   padding-top: 5%;
}