.estiloHeaderppal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
}

.logo-categoria {
    display: flex;
    align-items: center;
    gap: 30px;
}

#logo img {
    max-height: 5rem;
}

#navegacion-categoria {

    display: flex;
    /*utilizamos el display: flex; para que se ponga uno al lado del otro */
    gap: 20px;
}

.tab-categoria {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    font-family: "Roboto Slab"; /* agregado 11/11*/
    letter-spacing: 1px; /* agregado 11/11*/
    
}

.tab-categoria:hover {
    border-bottom: 2px solid #5394b1;
}

#q {
    display: flex;
    align-items: center;
    width: 320px; /* agregado 11/11 alargue un poco el buscador*/
    height: 30px;
    border-radius: 50px;
    padding-left: 10px;
    justify-content: center;
}

.no-resultados {
    color: red;
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    display: none;
}

.buscador-iconos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 5px;
}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.iconos img {
    width: 30px;
    height: auto;
    padding: 5px; /* agregado 11/11*/
}

footer {
    background-color: var(--dark-color-fondo);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.divFooter {
    max-width: 100%;
}

#footerCenter {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#footerRight {
display: flex;
flex-direction: row;
width: 100px;
align-content: center;
padding-right: 50;
}