/* URL Paleta de colores LIGHT: https://www.coloreasily.com/?colors=bd8c3e-020405-605e43-d9d59a-5394b1 */
/* URL Paleta de colores DARK: https://www.coloreasily.com/?colors=b67d6b-020405-d9d59a-ac9ba2-160b09 */
@import url('https://fonts.google.com/share?selection.family=Jersey+15');
@import url('https://fonts.google.com/share?selection.family=Jersey+15|Notable');
@import url('https://fonts.google.com/share?selection.family=Jersey+15|Limelight|Notable');

:root {
   --light-color-texto: #bd8c3e;
   --light-color-fondo: #020405;
   --light-color-acento-1: #605e43;
   --light-color-acento-2: #d9d59a;
   --light-color-acento-3: #5394b1;
   --dark-color-texto: #b67d6b;
   --dark-color-fondo: #020405;
   --dark-color-acento-1: #d9d59a;
   --dark-color-acento-2: #ac9ba2;
   --dark-color-acento-3: #160b09;
}

 .light-theme {
   color: var(--light-color-texto);
   background-color: var(--light-color-fondo);
}

.dark-theme {
   color: var(--dark-color-texto);
   background-color: var(--dark-color-fondo);
}
