#loginModal {
  display: none; /* oculto al inicio */
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index:1000;
}

/* modalContent y closeModal igual que antes */
#modalContent {
  position: relative;
  width: 90%;
  max-width: 650px;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  background-image: var(--bg-imagen);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
  color: white;
}

#loginIframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

#loginBtn{
    cursor: pointer;
}


