/* @import url("temas-colores-fuentes.css"); */


* {
   margin: 0%;
   padding: 0%;
}


body {
   background-image: url(/assets/img/FondoFinal.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed; /* fija la imagen mientras el contenido se desplaza*/
}


.btn-flotante {
   /*font-size: 16px; /* Cambiar el tamaño de la tipografia */
   /*text-transform: uppercase; /* Texto en mayusculas */
   /*font-weight: bold; /* Fuente en negrita o bold */
   /*color: #ffffff; /* Color del texto */
   /*letter-spacing: 2px; /* Espacio entre letras */
   border-radius: 5px;
   /* Borde del boton */
   background-color: #1c1e2f;
   /* Color de fondo */
   padding: 18px 30px;
   /* Relleno del boton */
   position: fixed;
   bottom: 40px;
   right: 40px;
   transition: all 300ms ease 0ms;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   z-index: 99;
}

.btn-flotante:hover {
   background-color: #625e76;
   /* Color de fondo al pasar el cursor */
   box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
   transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
   .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
   }
}



/*#navegacion-categoria {

   background-color: white;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border: white;
   width: 100%;
   height: 50px;
   background-color: var(--light-color-acento-3);
   border: 20px;
   
}*/

/*#navegacion-categoria hover {
   background-color: green;
   width: 100px;
   z-index: inherit;
}*/


/*.titulo-categoria {
   font-family: 'Jersey 15';
   display: flex;
   flex-direction: row;

}*/

#seccion-categoria {
   min-height: 720px;
}

.articulo-categoria {
   border: solid 1px black;
   background-color: #333333;
   /*background-color: #b67d6b;*/
}


.articulo-categoria{

   text-align: justify;
   padding: 20px;
   
}


#qr-code {
   width: 100px;
   height: 100px;
}

#seccion-categoria {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2em;
   padding: 20px;
}

.item-valor-portada {

   width: 100%;
   height: auto;

}

@media screen and (max-width: 48rem) {

   * {
      margin: 0%;
      padding: 0%;
   }

   #seccion-categoria {
      
      display: grid;
      grid-template-columns: repeat(1, 1fr);

   }  

}

@media screen and (min-width: 48rem) and (max-width: 64rem) {

   * {
      margin: 0%;
      padding: 0%;
   }

   #seccion-categoria {

      display: grid;
      grid-template-columns: repeat(2, 1fr);


   }


}

@media screen and (min-width: 64rem) {

   * {
      margin: 0%;
      padding: 0%;
   }

   #seccion-categoria {

      display: grid;
      grid-template-columns: repeat(3, 1fr);


   }



}