/* @import url("temas-colores-fuentes.css"); */


*{
   margin: 0%;
   padding: 0%;
}

#encabezado-principal {
   background-color: red;
   color: white;
}

#navegacion-categoria {
   background-color: lime;
}

#seccion-categoria {
   min-height: 720px;
}

.articulo-categoria {
   border: solid 3px gray;
   background-color: orange;
}

#footer-principal {
   background-color: blue;
   color: white;
}

#qr-code {
   width:100px;
   height:100px;
}

#seccion-categoria{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 2em;
   padding: 20px;
}

.item-valor-portada{

   width: 100%;
   height: auto;

}

@media screen and (max-width: 48rem) {
   
   *{
      margin: 0%;
      padding: 0%;
   }

   #seccion-categoria{
   
      display: grid;
      grid-template-columns: repeat(1,1fr);
      

   }



}
@media screen and (min-width: 48rem) and (max-width: 64rem) {
   
   *{
      margin: 0%;
      padding: 0%;
   }

   #seccion-categoria{
   
      display: grid;
      grid-template-columns: repeat(2,1fr);
      

   }



}
@media screen and (min-width: 64rem) {
   
   *{
      margin: 0%;
      padding: 0%;
   }

   #seccion-categoria{
   
      display: grid;
      grid-template-columns: repeat(3,1fr);
      

   }



}