body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Notable", sans-serif;
    font-weight: ;
    font-style: normal;
    font-weight: bold;
    height: 800px;
    background-image: repeating-linear-gradient(#bd8c3e, #605e43, #5394b1, #bd8c3e)
}

.estiloHeaderppal {
    display: flex;
    background-color: #D9D59A;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100px;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.estiloHeadersecundario {
    text-align: center;
    background-color: chartreuse;
}

.logo{
image-rendering: auto;
}

.aside {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: fit-content;
    position: relative;
    border-width: 5px;
    background-color: burlywood;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

    background-color: burlywood;
}

.divNav {
    display: flex;
    width: 110px;
    background-color: #bd8c3e;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;

}

.divFooter {
    display: flex;
    width: 110px;
    background-color: #625e76;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
}

article {
    justify-content: center;
    display: flex;
    border-radius: 10px;
    /*padding-top: 0px;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    width: auto;
    flex-direction: column;
    align-content: space-around;
    width: 250px;
    align-items: stretch;
}


.section {

    height: fit-content;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-content: space-evenly;
    justify-content: space-evenly;
    position: relative;
    align-items: stretch;
    padding-bottom: 10px;
}

footer {
    /*position: relative;
    display: flex;
    background-color: bisque;
    justify-content: space-evenly;
    flex-direction: row;
    height: 50px;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    */
    position: fixed;
    bottom: 0;
background-image: url(../../assets/img/superheroes_fondo_nav.png);
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    position: relative;
    border-width: 5px;
    /*background-color: burlywood;*/
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
}

.nav {
    background-image: url(../../assets/img/superheroes_fondo_nav.png);
    display: flex;
    flex-direction: row;
    height: max-content;
    width: auto;
    position: relative;
    border-width: 5px;
    background-color: burlywood;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: burlywood;
    align-content: space-around;
}