body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: "Notable", sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 800px;
    background-image: repeating-linear-gradient(#bd8c3e, #605e43, #5394b1, #bd8c3e)
}

html {
    padding: 0%;
    margin: 0%;

}

.estiloHeaderppal {
    display: flex;
    background-color: #D9D59A;
    flex-direction: row;
    height: 600px;
    padding: 5%;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: baseline;
    justify-content: flex-end;
}

.iconosDos {
    display: flex;
    margin-top: 20%;
    margin-right: 10%;

}

.iconosTres {
    display: flex;
    margin-left: 10%;
}

#logo {
    display: flex;
    flex-direction: left;
    height: 100px;

}

.estiloHeadersecundario {
    text-align: center;
    background-color: #5394b1;
}

#inputNav {
    background-color: #bd8c3e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: white;
}

#inputNav:hover {
    background-color: green;
    width: 100px;
    z-index: inherit;
}

#iconoDark {
    display: flexbox;
    justify-content: space-evenly;

}

.aside {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: fit-content;
    position: relative;
    border-width: 5px;
    background-color: burlywood;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

    background-color: burlywood;
}

.divNav {
    display: flex;
    width: 110px;
    background-color: #bd8c3e;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;

}

#seccion-categoria {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 🔹 3 columnas */
  gap: 25px; /* separación entre las tarjetas */
  padding: 20px;
}

.articulo-categoria {
  background-color: #e58cf7; /* violeta, como en tu diseño */
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.divFooter {
    display: flex;
    width: 110px;
    background-color: #625e76;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
}

article {
    justify-content: center;
    display: flex;
    border-radius: 10px;
    /*padding-top: 0px;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    width: auto;
    flex-direction: column;
    align-content: space-around;
    width: 250px;
    align-items: stretch;
    box-sizing: border-box;

}

.item-valor-portada{
    display: flex;
    width: 100%;
    height: 70%;
}
.section {

    height: fit-content;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-content: space-evenly;
    justify-content: space-evenly;
    position: relative;
    align-items: stretch;
    padding-bottom: 10px;
}


footer {
    /*position: relative;
    display: flex;
    background-color: bisque;
    justify-content: space-evenly;
    flex-direction: row;
    height: 50px;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    */
    position: fixed;
    bottom: 0;
    /*background-image: url(/assets/img/superheroes_fondo_nav.png);*/
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    position: relative;
    border-width: 5px;
    background-color: #020405;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: space-around;
    align-items: center;


}

.divFooter {
    background-color: #020405;
    font-size: small;
    color: white;
}

a:hover {
    color: #5394b1;
    text-decoration: underline;
}

a {
    color: white;

}

#footerCenter {
    display: flex;
    flex-direction: column;
    text-align: justify;

}

span {
    display: contents;
    flex-direction: row;

}

#footerRight {
    display: flex;
    flex-wrap: nowrap;
    align-self: auto;
    flex-direction: row;
    align-items: start;
    align-content: center;
    gap: 15px;

}

p {
    display: flex;
    font-size: smaller;
    justify-content: space-around;
    align-items: anchor-center;
    align-content: space-between;
    flex-wrap: nowrap;

}


.nav {
    /* background-image: url(/assets/img/superheroes_fondo_nav.png);*/
    display: flex;
    flex-direction: row;
    height: max-content;
    width: auto;
    position: relative;
    border-width: 5px;
    background-color: #bd8c3e;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #bd8c3e;
    align-content: space-around;
}

#superheroes {
    align-content: center;
    width: max-content;
    color-scheme: black;


}