html {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Notable", sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 800px;
    background-image: repeating-linear-gradient(#bd8c3e, #605e43, #5394b1, #bd8c3e)
}

.estiloHeaderppal {
        display: flex
;
    background-color: #020405;
    max-height: fit-content;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    min-height: fit-content;
}

.buscador {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
}

.iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: baseline;
    justify-content: flex-end;
    margin-right: 1%;
}

.iconosDos {
    display: flex;
    margin-top: 20%;
    margin-right: 10%;

}

.iconosTres {
    display: flex;
    margin-left: 10%;
}

#logo {
    display: flex;
    flex-direction: left;
    height: 100px;
    margin-left: 1%;

}

#logoFooterLeft {
    display: flex;
    flex-direction: left;
    height: 100px;
    margin-left: 1%;

}

.estiloHeadersecundario {
  /*  position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 999;*/
    text-align: center;
    background-color: #5394b1;
}

#inputNav {
    background-color: #bd8c3e;
    border: white;
    height: 100%;
}

/*#inputNav:hover {
    width: 120%;
    height: 120%;
}*/

#iconoDark {
    display: flexbox;
    margin-right: 10%;
    justify-content: space-evenly;

}

.aside {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: fit-content;
    position: relative;
    border-width: 5px;
    background-color: burlywood;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: burlywood;
}

.divNav {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.aNav {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
}

.imgDiv {
    width: 100%;
    height: 100%;
}

.divNav:hover {
    width: 30%;
    height: 30%;
}

/*.imgDiv:hover {
    width: 120%;
    height: 120%;
}*/

.img:visited {}

.divFooter {
    display: flex;
    width: 110px;
    background-color: #625e76;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
}

article {
    justify-content: center;
    display: flex;
    border-radius: 10px;
    /*padding-top: 0px;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    width: auto;
    flex-direction: column;
    align-content: space-around;
    width: 250px;
    align-items: stretch;
    box-sizing: border-box;

}

.divSection {
    align-items: start;
}


.section {
    /*top: 110px;*/
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    position: relative;
    padding-bottom: 10px;
    flex-direction: row;


    /*height: fit-content;
    display: grid;
     flex-wrap: wrap; 
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-content: space-evenly;
    justify-content: space-evenly;
    position: relative;
    align-items: stretch;
    padding-bottom: 10px;
    */
}


footer {
    /*position: relative;
    display: flex;
    background-color: bisque;
    justify-content: space-evenly;
    flex-direction: row;
    height: 50px;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    */
    bottom: 0;
    /*background-image: url(/assets/img/superheroes_fondo_nav.png);*/
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    position: relative;
    border-width: 5px;
    background-color: #020405;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: space-around;
    align-items: center;
}

.divFooter {
    background-color: #020405;
    font-size: small;
    color: white;
}

a:hover {
    color: #5394b1;
    text-decoration: underline;
}

a {
    color: white;

}

#footerCenter {
    display: flex;
    flex-direction: column;
    text-align: justify;

}

span {
    display: contents;
    flex-direction: row;

}

#footerRight {
    display: flex;
    flex-wrap: nowrap;
    align-self: auto;
    flex-direction: row;
    align-items: start;
    align-content: center;
    gap: 15px;

}

p {
    display: flex;
    font-size: smaller;
    justify-content: space-around;
    align-items: anchor-center;
    align-content: space-between;
    flex-wrap: nowrap;

}


.nav {
    /* background-image: url(/assets/img/superheroes_fondo_nav.png);*/
    display: flex;
    flex-direction: row;
    height: max-content;
    width: auto;
    position: relative;
    border-width: 5px;
    background-color: #bd8c3e;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #bd8c3e;
    align-content: space-around;
}

#superheroes {
    align-content: center;
    width: max-content;
    color-scheme: black;


}