body {
    display: flex;

    flex-direction: column;
    min-height: 100vh;

    font-family: "Notable", sans-serif;
    font-style: normal;
    font-weight: bold;
    height: 800px;
    background-image: repeating-linear-gradient(#bd8c3e, #605e43, #5394b1, #bd8c3e)
}

* {
    margin: 0%;
}

.estiloHeaderppal {

    display: flex;
    background-color: #020405;
    max-height: fit-content;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    min-height: fit-content;
}
#q{
    width: 250px;
    height: 30px;
    border-radius: 50px;
    padding-left: 10px;

}

#logo {
    display: flex;
    width: 10%;
    flex-direction: left;
    height: 100px;
}

.buscador {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
}

.iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: baseline;
    justify-content: flex-end;
    
    
    
}

.iconosDos {
    display: flex;
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 20%;

}

.iconosTres {
    display: flex;
    margin-left: 10%;

}

.iconoCuatro {

    display: flex;
    margin-left: 20%;
    

}

/*.estiloHeadersecundario {
    text-align: center;
    background-color: #5394b1;
}
*/
#inputNav {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: white;
}

#inputNav:hover {
    background-color: green;
    width: 100px;
    z-index: inherit;
}

#iconoDark {
    display: flexbox;
    justify-content: space-evenly;

}

.aside {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: fit-content;
    position: relative;
    border-width: 5px;
    background-color: burlywood;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

    background-color: burlywood;
}

.divNav {
    display: flex;
    width: 110px;
    background-color: #5394b1;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;

}

.nav {

    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    position: relative;
    border-width: 5px;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: space-around;
    background-color: #5394b1;



}

.inputNav {

    background-color: #3002ff;
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
}

.inputNav:hover {
    background-color: #28be15;
    color: #333;

}

#seccion-categoria {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}


.articulo-categoria {
    background-color: #D9D59A;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 100%;
    padding-top: 0%;
   

}

.articulo-categoria img {
/*    height: 100%; */
    width: 100%;
}


article {
    justify-content: center;
    display: flex;
    border-radius: 10px;
    /*padding-top: 0px;*/
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    width: auto;
    flex-direction: column;
    align-content: space-around;
    width: 250px;
    align-items: stretch;
    box-sizing: border-box;

}

.divFooter {
    display: flex;
    width: 110px;
    background-color: #625e76;
    padding: 20px;
    border-color: black;
    border-width: 5px;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;
}

.item-valor-portada {
    display: flex;
    width: 100%;
    height: 70%;
}



.section {

    height: fit-content;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-content: space-evenly;
    justify-content: space-evenly;
    position: relative;
    align-items: stretch;
    padding-bottom: 10px;
}


footer {
    /*position: relative;
    display: flex;
    background-color: bisque;
    justify-content: space-evenly;
    flex-direction: row;
    height: 50px;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    */
    position: fixed;
    bottom: 0;
    /*background-image: url(/assets/img/superheroes_fondo_nav.png);*/
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 100%;
    position: relative;
    border-width: 5px;
    background-color: #020405;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: space-around;
    align-items: center;


}

.divFooter {
    background-color: #020405;
    font-size: small;
    color: white;
}

a {
    color: white;

}

#footerCenter {
    display: flex;
    flex-direction: column;
    text-align: justify;

}

span {
    display: contents;
    flex-direction: row;

}

#footerRight {
    display: flex;
    flex-wrap: nowrap;
    align-self: auto;
    flex-direction: row;
    align-items: start;
    align-content: center;
    gap: 15px;

}

p {
    display: flex;
    font-size: smaller;
    justify-content: space-around;
    align-items: anchor-center;
    align-content: space-between;
    flex-wrap: nowrap;

}



#superheroes {
    align-content: center;
    width: max-content;
    color-scheme: black;


}

@media (max-width: 768px) {
    body {
        background-color: lightblue;
    }
}