* {
    margin: 0%;

}

.nombreCategoria {
    text-align: center;
    font-family: 'Jersey 15', sans-serif;
    text-decoration-color: aqua;

}

.titulo-agrupacion {
    display: inline;
    margin: 20px;
    margin-top: 20%;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 20cap;
    padding-top: 5%;
}

.fila3,
fila4 {

    display: grid;
    background-color: #D9D59A;
    border-radius: 20px;
    padding: 15px;
    
    
}
.item-valor-nombre{
    margin-top: 5%;
}


/*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
text-align: center;
gap: 20%; 
*/


/*.fila3 {
    grid-template-columns: repeat(3, 1fr);
}

.fila4{
grid-template-columns: 4,1fr;
}*/