*{
    margin: 0%;
  
}

.nombreCategoria{
    text-align: center;
    font-family: 'Jersey 15', sans-serif;
    text-decoration-color: aqua;

}

.titulo-agrupacion{
    margin: 20px;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow: 20cap;

}