.estiloHeaderppal {
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 10px 30px;
}


.logo-categoria {
    display: flex;
    align-items: center;
    gap: 30px;
}

#logo img {
    max-height: 5rem;
}


#navegacion-categoria {
    display: flex;
    gap: 20px;
}

.tab-categoria {
    color: var(--dark-color-texto);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
    font-family: "Roboto Slab";
    letter-spacing: 1px;

}

.tab-categoria:hover {
    border-bottom: 2px solid var(--dark-color-acento-1);
}

#q {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 30px;
    border-radius: 50px;
    padding-left: 10px;
}

.no-resultados {
    margin: auto;
    color: var(--txt-color); 
    font-size: 2rem;         
    font-weight: bold;
    text-align: center;
    font-family: "Roboto Slab", serif;
    padding: 40px;
    display: none; 
    gap: 20px;
}

.buscador-iconos {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 5px;
}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.iconos img {
    padding: 5px;
    width: 30px;
    height: auto;
}

footer {
    margin-top: auto;
    background-color: var(--bg-footer);
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-direction: row;
    align-items: center;
}

.divFooter {
    max-width: 100%;
}
#logoFooterLeft.light-theme{
    color: --color-txt ;
}
#footerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#footerRight {
    display: flex;
    flex-direction: row;
    padding-right: 50;
    width: 100px;
    align-content: center;
}